{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>重置</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							重置站点会删除所有用户和队伍数据，请在重置前再三确认是否需要重置，因为重置后留给你的只剩下题目。
						</p>

						<span>
							<strong>
								如果需要备份可前往 <a href="{{ url_for('admin.config', _anchor='backup') }}">创建备份</a>
								或者备份整个数据库和CTFd文件夹。
							</strong>
						</span>
					</div>

					<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

					<button class="btn btn-warning btn-lg btn-block">
						重置站点
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
