{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="section-header" data-100p-top="transform[swing]:translateY(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateY(0);opacity[swing]:1">
		<h3>加入队伍</h3>
		<div class="divider">//</div>
	</div>

	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% for info in infos %}
				<div class="alert alert-info alert-dismissable" role="alert">
					<span class="sr-only"></span>
					{{ info }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">×</span></button>
				</div>
			{% endfor %}
			{% for error in errors %}
				<div class="alert alert-danger alert-dismissable" role="alert">
					<span class="sr-only">Error:</span>
					{{ error }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">×</span></button>
				</div>
			{% endfor %}
			<form method="POST">
				<div class="form-group">
					<label>队伍名称:</label>
					<input class="form-control" type="text" name="name">
				</div>
				<div class="form-group">
					<label>队伍口令:</label>
					<input class="form-control" type="password" name="password">
				</div>
				<input type="hidden" name="nonce" value="{{ nonce }}">
				<div class="row pt-3">
					<div class="col-md-12">
						<button type="submit" class="btn btn-success float-right">
							冲
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
