{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('views.themes', path='css/scoreboard.css') }}">
{% endblock %}

{% block content %}
	<div class="section-header" data-100p-top="transform[swing]:translateY(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateY(0);opacity[swing]:1">
		<h3>排行榜</h3>
		<div class="divider">//</div>
	</div>

    <div class="row">
        <!-- 排名 -->
        <div>
            <!-- 排名框 -->
            <div class="rank">
                <!-- 表头 -->
                <table class="rank_head" style="width: {{ 90 * data + 300 }}px;">
                    <colgroup>
                        <col width="50">
                        <col width="40">
                        <col width="110">
                        <col width="50">
                        <col width="50">
                        {% for x in range(0,data) %}
                        <col width="90">
                        {% endfor %}
                        <col name="gutter" width="0" />
                    </colgroup>
                    <thead class="">
                    <tr id="typeMsg">

                    </tr>
                    <tr id="chaListMsg">

                    </tr>

                    <tr id="valueMsg">
                        <th colspan="1" rowspan="1">
                            <div class="cell">
                                Rank
                            </div></th>
                        <th colspan="1" rowspan="1">
                            <div class="cell">
                                Face
                            </div></th>
                        <th colspan="1" rowspan="1">
                            <div class="cell">
                                Name
                            </div></th>
                        <th colspan="1" rowspan="1">
                            <div class="cell">
                                Score
                            </div></th>
                        <th colspan="1" rowspan="1">
                            <div class="cell">
                                Solved
                            </div></th>
                        <th colspan="1" rowspan="1">
                            <div class="cell score">
                                150
                            </div></th>
                    </tr>
                    </thead>
                </table>
                <!-- 数据 -->
                <table class="rank_data" style="width: {{ 90 * data + 300 }}px;">
                    <colgroup>
                        <col width="50">
                        <col width="40">
                        <col width="110">
                        <col width="50">
                        <col width="50">
                        {% for x in range(0,data) %}
                        <col width="90">
                        {% endfor %}
                    </colgroup>
                    <tbody id="userList">

                    </tbody>
                </table>
            </div>
            <!-- 底栏 -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/style.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/socket.io.js') }}"></script>
    <script>
        start();
        var socket=io();
        socket.on('updateMsg', function (data) {
            console.log('success');
            start();
        });
        function start() {
            var url="/api/v1/scoreboard"
            $.ajax({
                url:url,
                type: "get",
                dataType: "json",
                contentType:"application/json",
                success: function(data){
                    document.getElementById('typeMsg').innerHTML = data['chalTypelListMsg'];
                    document.getElementById('chaListMsg').innerHTML=data['chaListMsg'];
                    document.getElementById('valueMsg').innerHTML=data['chaValueMsg'];
                    document.getElementById('userList').innerHTML=data['userMsg']
                }
            });
        }
    </script>
{% endblock %}
