<div role="tabpanel" class="tab-pane config-section" id="accounts">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			<label>
				邮箱白名单
				<small class="form-text text-muted">
					只有下面这些用逗号分隔的邮箱域名才可以被允许注册。
				</small>
			</label>
			<input class="form-control" id='domain-whitelist' name='domain_whitelist' type='text'
				   placeholder=""
				   {% if domain_whitelist is defined and domain_whitelist != None %}value="{{ domain_whitelist }}"{% endif %}>
			<small class="form-text text-muted">
				例：ctfd.io,gmail.com,yahoo.com
			</small>
		</div>

		<div class="form-group">
			<label>
				邮箱验证<br>
				<small class="form-text text-muted">
					是否需要用户在验证邮箱之后才能开始做题
				</small>
			</label>
			<select class="form-control custom-select" name="verify_emails">
				<option value="true" {% if verify_emails == True %}selected{% endif %}>开启</option>
				<option value="false" {% if verify_emails == False or verify_emails == None %}selected{% endif %}>关闭</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				队伍人数<br>
				<small class="form-text text-muted">
					每个队伍的最大人数
				</small>
			</label>
			<input class="form-control" id="team_size" name="team_size" type="number" min="0" {% if team_size %}value="{{ team_size }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				可否改名<br>
				<small class="form-text text-muted">
					是否允许用户更改自己的用户名
				</small>
			</label>
			<select class="form-control custom-select" name="name_changes">
				<option value="true" {% if name_changes == True or name_changes == None %}selected{% endif %}>开启</option>
				<option value="false" {% if name_changes == False %}selected{% endif %}>关闭</option>
			</select>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">保存</button>
	</form>
</div>