{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="section-header" data-100p-top="transform[swing]:translateY(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateY(0);opacity[swing]:1">
		<h3>同学</h3>
		<div class="divider">//</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<td><b>用户名</b></td>
					<td class="d-none d-md-table-cell d-lg-table-cell"><b>学号</b></td>
					<td class="d-none d-md-table-cell d-lg-table-cell"><b>班级</b></td>
					<td class="d-none d-md-table-cell d-lg-table-cell"><b>姓名</b></td>
					<td class="d-none d-md-table-cell d-lg-table-cell"><b>QQ</b></td>
				</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr>
						<td>
							{% if scores_visible() %}
								<a href="{{ url_for('users.public', user_id=user.id) }}">
									{{ user.name | truncate(50) }}
								</a>
							{% else %}
								<span>{{ user.name | truncate(50) }}</span>
							{% endif %}
							{% if user.oauth_id %}
								<a href="https://majorleaguecyber.org/u/{{ user.name }}">
									<span class="badge badge-primary">Official</span>
								</a>
							{% endif %}
						</td>
						<td class="text-center">
							{% if user.website %}
								<span>{{ user.website }}</span>
							{% endif %}
						</td>
						<td class="text-center">
							{% if user.website %}
								<span class="class">{{ user.website }}</span>
							{% endif %}
						</td>
						<td class="d-none d-md-table-cell d-lg-table-cell">
							{% if user.affiliation %}
								{% if user.affiliation | length > 50 %}
									<span data-toggle="tooltip" data-placement="top" title="{{ user.affiliation }}">
								{% if user.affiliation %}{{ user.affiliation | truncate(50) }}{% endif %}
							</span>
								{% else %}
									<span>
								{% if user.affiliation %}{{ user.affiliation | truncate(50) }}{% endif %}
							</span>
								{% endif %}
							{% endif %}
						</td>
						<td class="d-none d-md-table-cell d-lg-table-cell">
							<span>
								{% if user.country %}
									<a href="tencent://message/?uin={{ user.country }}" target="_blank">
                                        <img src="https://q2.qlogo.cn/headimg_dl?dst_uin={{ user.country }}&spec=2" alt="{{ user.affiliation }}的QQ头像"/>
                                        <span>{{ user.country }}</span>
                                    </a>
								{% endif %}
							</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% if pages > 1 %}
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">Page
					<br>
					{% if curr_page != 1 %}
						<a href="{{ url_for('users.listing', page=curr_page - 1) }}">
							&lt;&lt;&lt;
						</a>
					{% endif %}
					{% for page in range(1, pages + 1) %}
						{% if curr_page != page %}
							<a href="{{ url_for('users.listing', page=page) }}">{{ page }}</a>
						{% else %}
							<b>{{ page }}</b>
						{% endif %}
					{% endfor %}
					{% if curr_page != pages %}
						<a href="{{ url_for('users.listing', page=curr_page + 1) }}">
							&gt;&gt;&gt;
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
    <script>
        const classsignMap  = {
            "205601401": "计算机20.1本",
            "205612401": "网络20.2本",
            "205615401": "智能20.3本",
            "205614401": "数据20.4本",
            "206310401": "物联网20.5本",
            "205606401": "软件20.6本",
            "205606402": "软件20.7本",
            "205606403": "软件20.8本",
            "205606404": "软件20.9本",
            "205606405": "软件20.10本",
            "205606406": "软件20.11本",
            "205613401": "软件20.12本",
            "205613402": "软件20.13本",
            "205613403": "软件20.14本",
            "205613404": "软件20.15本",
            "206316401": "软件20.16本",
            "206316402": "软件20.17本",
            "206316403": "软件20.18本",
            "206317401": "软件20.19本",
            "206317402": "软件20.20本",
            "206317403": "软件20.21本",
            "205616401": "计算机20.22本",
            "206319201": "软件20.23专升本",
            "206319202": "软件20.24专升本",
            "206319203": "软件20.25专升本",
            "206319204": "软件20.26专升本",

            "215601401": "计科21.1本",
            "215619402": "计算机21.2本",
            "215619403": "计算机21.3本",
            "215619404": "计算机21.4本",
            "215619405": "计算机21.5本",
            "215606406": "软件21.6本",
            "215606407": "软件21.7本",
            "215606408": "软件21.8本",
            "215606409": "软件21.9本",
            "215606410": "软件21.10本",
            "215606411": "软件21.11本",
            "215606412": "软件21.12本",
            "215606413": "软件21.13本",
            "215613414": "软件21.14本",
            "215613415": "软件21.15本",
            "215613416": "软件21.16本",
            "215613417": "软件21.17本",
            "215613418": "软件21.18本",
            "216316419": "软件21.19本",
            "216316420": "软件21.20本",
            "216316421": "软件21.21本",
            "216316422": "软件21.22本",
            "216317423": "软件21.23本",
            "216317424": "软件21.24本",
            "216317425": "软件21.25本",
            "216317426": "软件21.26本",
            "216317427": "软件21.27本",
            "216319228": "软件21.28专升本",
            "216319229": "软件21.29专升本",
            "216319230": "软件21.30专升本",
            "216319231": "软件21.31专升本",
        };
        $(".class").each(function(){
            if ($(this).text().length === 11) {
                var classsign = $(this).text().substr(0, 9);
                if (Object.keys(classsignMap).includes(classsign)) {
                    $(this).text(classsignMap[classsign]);
                } else
                    $(this).text("非参赛年级");
            } else
                $(this).text("学号异常");
        });
    </script>
{% endblock %}
